<!--已退房-->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/h-ui/css/H-ui.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/h-ui.admin/css/H-ui.admin.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/lib/Hui-iconfont/1.0.8/iconfont.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/h-ui.admin/skin/default/skin.css}" id="skin"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/h-ui.admin/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/lib/laypage/1.2/skin/laypage.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/laydate/theme/default/laydate.css}">

    <script  charset="utf-8" src="/static/js/laydate.js" th:src="@{/static/js/laydate.js}"></script>
    <script type="text/javascript" th:src="@{/static/lib/layer/2.4/layer.js}"></script>
    <script type="text/javascript" th:src="@{/static/h-ui/js/H-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/h-ui.admin/js/H-ui.admin.js}"></script>

    <script type="text/javascript" th:src="@{/static/lib/laypage/1.2/laypage.js}" src="/static/lib/laypage/1.2/laypage.js"></script>

    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/static/js/laypage/skin/laypage.css}" href="/static/js/laypage/skin/laypage.css">

    <script th:src="@{/static/js/vue/vue.min.js}" src="/static/js/vue/vue.min.js"></script>
    <script th:src="@{/static/js/jquery/jquery.min.js}" src="/static/js/jquery/jquery.min.js"></script>
    <script th:src="@{/static/js/laypage/laypage.js}" src="/static/js/laypage/laypage.js" charset="utf-8"></script>
    <script th:src="@{/static/js/layer/layer.js}" src="/static/js/layer/layer.js" charset="utf-8"> </script>
    <!--    <script src="../layui/lay/modules/laydate.js"></script>-->
    <script th:src="@{/static/layui-v2.5.5/layui/lay/modules/laydate.js}"src="/static/layui-v2.5.5/layui/lay/modules/laydate.js"></script>
    <script th:src="@{/static/js/jquery-1.8.3.js}" src="/static/js/jquery-1.8.3.js"></script>

    <title>用户管理</title>
</head>
<style>
    #riqi {
        display: none;
    }
</style>
<body  th:fragment="member-list">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 房间管理 <span
        class="c-gray en">&gt;</span> 房间管理 <a class="btn btn-success radius r"
                                              style="line-height:1.6em;margin-top:3px"
                                              href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <select name="xiala" id="xiala" onchange="choose(this.options[this.options.selectedIndex].value)">
        <option value="">请选择</option>
        <option value="guanjian">房间号查询</option>
        <option value="shijian">时间区间查询</option>
    </select>

    <form class="form-inline bg-danger" role="form">
        <div id="dd" class="text-c">
            <div id="gjzs">
                <input type="text" class="input-text" style="width:250px" placeholder="请输入房间号" id="rserial" name="rserial">
                <button type="button" class="btn btn-success radius" id="searchRserial"><i class="Hui-iconfont">&#xe665;</i> 搜</button>

            </div>
            <div id="riqi">
                开始时间： <input type="text"  id="recordStart">
                结束时间：<input type="text"  id="recordEnd">
                <button type="button" class="btn btn-success radius" id="searchTime"><i class="Hui-iconfont">&#xe665;</i> 搜</button>
            </div>
        </div>
    </form>


    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="1">共有数据：<strong id="shuju"></strong><span id="tiao"></span> 条</span> </div>
    <div class="mt-20" id="app">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>

            <tr>
                <th scope="col" colspan="8">员工管理</th>
            </tr>
            <tr class="text-c">
                <th width="50" th:text="房间号"></th>
                <th width="70" th:text="房间类型"></th>
                <th width="75" th:text="房间价格"></th>
                <th width="130" th:text="住房人"></th>
                <th width="60" th:text="顾客联系方式"></th>
                <th width="130" th:text="入住时间"></th>
                <th width="130" th:text="结束时间"></th>
                <th width="80" th:text="操作"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-c" v-for="(item,index) in result">
                <td>{{item.room.rserial}}</td>
                <td>{{item.room.rtype}}</td>
                <td>{{item.room.rprice}}</td>
                <td>{{item.user.uname}}</td>
                <td>{{item.user.uphone}}</td>
                <td>{{item.recordStart}}</td>
                <td>{{item.recordEnd}}</td>
                <td class="f-14 td-manage">
                    <a style="text-decoration:none" class="ml-5" @click="picture_del(item.rid)" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
                </td>
            </tr>
            </tbody>
        </table><br/>
        <div id="pagenav" class="text-c"></div>
    </div>
</div>
<script th:inline="javascript">

    var app = new Vue({
        el:'#app',
        data:{
            result:[]
        }
    });

    //时间选择器
    laydate.render({
        elem: '#recordStart'
        ,type: 'datetime'
    });
    //时间选择器
    laydate.render({
        elem: '#recordEnd'
        ,type: 'datetime'
    });


    /**
     *lu
     * 2019-12-15 1：03
     * 模糊搜索
     */
    $("#searchRserial").click(function () {
        getCheckOutRoomOutPageList();
    });
    $("#searchTime").click(function () {
        getCheckOutRoomOutPageList();
    });
    /**
     * 2019-12-15 12:01
     * 遍历出房间
     */
    var getCheckOutRoomOutPageList = function (curr) {
        $.ajax({
            type:'POST',
            dataType:'JSON',
            url:'/roomrecord/selectAllRoomRecordCheckOut',
            data:{
                pageNum:curr||1,
                pageSize:3,
                rserial:$("#rserial").val(),
                recordStart:$("#recordStart").val(),
                recordEnd:$("#recordEnd").val()
            },
            success:function (data) {
                app.result = data.page;
                $("#tiao").html(data.page.total);
                laypage({
                    cont: 'pagenav',
                    skin: '#008B8B',
                    pages: data.totalPage,
                    first: "首页",
                    last: "尾页",
                    curr: curr || 1,
                    jump: function (obj, first) {
                        if (!first) {
                            getCheckOutRoomOutPageList(obj.curr);
                        }
                    }
                });
            }
        });
    }
    getCheckOutRoomOutPageList();



    function picture_del(rid) {
        layer.confirm('真的删除行么', function (index) {
            $.ajax({
                type: "POST"
                , url: "/room/delRoomAllById"
                , data : {
                    eid:rid
                },
                success: function (msg) {
                    layer.msg('已删除!', {icon: 1, time: 1000});
                }
            })
            layer.close(index);
            getCheckOutRoomOutPageList();
        });
    }


    //下拉框的显示和隐藏
    function choose(obj) {
        if (obj == "guanjian") {
            $("#gjzs").css({
                "display": "block"
            });
            $("#riqi").css({
                "display": "none"
            });

        }
        if (obj == "shijian") {
            $("#gjzs").css({
                "display": "none"
            });
            $("#riqi").css({
                "display": "block"
            });
        }
    }
</script>
</body>
</html>