<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.hotel.entity.User">
        <id column="uid" property="uid" />
        <result column="uname" property="uname" />
        <result column="uphone" property="uphone" />
        <result column="uidcard" property="uidcard" />
        <result column="uaddress" property="uaddress" />
    </resultMap>

    <!--    根据id查所有-->
    <select id="selectAllUserById" parameterType="user" resultMap="BaseResultMap">
        select * from user where uid=#{uid}
    </select>

    <!--    用户住宿的时候向user表中添加数据-->
    <insert id="insertUserZhuFang" parameterType="user">
        insert into user(uname,uphone,uidcard,uaddress) values (#{uname},#{uphone},#{uidcard},#{uaddress})
    </insert>

    <!--    根据id删除 用在删除已退房上-->
    <delete id="delAllUserById" parameterType="int">
        delete from user where uid=#{uid}
    </delete>

    <!--    根据姓名查住房人的信息-->
    <select id="selectAllByUname" parameterType="user" resultMap="BaseResultMap">
        select * from user where uname=#{uname}
    </select>


    <!--    根据身份证号查所有-->
    <select id="selectAllByIdCard" parameterType="room" resultMap="BaseResultMap">
        select * from user where uidcard=#{uidcard};
    </select>

</mapper>
